params {
    sc {
        cistopic {
            container = 'aertslab/cistopic:2020-02-26-8b0a0f3'
            // Label for the processes
            labels {
                processExecutor = 'local' // or qsub
            }
            // file with per barcode metrics:
            metrics = 'singlecell.csv'
            build_models {
                num_workers = 20
                num_iterations = 500
                // topics_to_test needs to be in the format of a R numeric vector, and enclosed in quotes. This is parsed within the R script.
                topics_to_test = "'c(2, 5, 10, 15, 20:40)'"
                alpha = 50
                beta = 0.1
            }
        }
    }
}

