params {
    sc {
        cistopic {
            container = 'aertslab/cistopic:2020-02-26-8b0a0f3'
            // Label for the processes
            labels {
                processExecutor = 'local' // or qsub
            }
            // file with per barcode metrics:
            metrics = 'singlecell.csv'

        }
    }
}

